.latest_main{
    
    background-color: #fff;
    padding: 40px;
   
}
.latest_main>h5{
     font-size: 20px;
    font-weight: 400;
}
.latest_main a{
    margin: 10px 0;
    font-size: 18px;
    color: #1E73BE;
    display: block;
    transition: 0.1s all ease-in-out;
}
.latest_main a:hover{
    color: #0e0d0d;
    
}